.app {
  background-color: red;
  overflow: hidden;
  display: block;
}

.mandelbrot-canvas {
  position: absolute;
  z-index: 0;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.control-panel {
  border: 1px solid black;
  background-color: white;
  position: absolute;
  z-index: 1;

  top: 50%;
  transform: translateY(-50%);
}
